<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	
	<bean id="tv" class="com.study.test.java.SamsungTv">
		<constructor-arg ref="sony"></constructor-arg>
		<constructor-arg value="123"></constructor-arg>
	</bean>
	
	<bean id="sony" class="com.study.test.java.SonySpeaker" />
	
	<bean id="apple" class="com.study.test.java.AppleSpeaker" />
	
	
</beans>

